.pic1 img{
    height: 50px;
    width: auto;
    position: absolute;
    top: 1%;
    left: 42%;
}

.h1{
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 35%;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 10%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium; 
    line-height: 150%;
}

* {
    box-sizing: border-box;
 }
    
 .column {
    float: left;
    width: 33.33%;
    padding: 5px;
 }

 .row::after{
    content: "";
    display: table;
    clear: both;
 }
