.pic1 img{
    height: 50px;
    width: auto;
    position: absolute;
    top: 15px;
    left: 600px;
}

.h1{
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 30%;
}


.img1 img{
    height: 700px;
    width: auto;
    float: left;
    margin-right: 10px;
    position: relative;
}


.text {
    overflow: hidden;
    margin-right: 10px; /* Adjust as needed */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin: 50px;
 }

 * {
    box-sizing: border-box;
 }
    
 .column {
    float: left;
    width: 33.33%;
    padding: 5px;
 }

 .row::after{
    content: "";
    display: table;
    clear: both;
 }
